@use 'variaveis';

.header {
	height: 100vh;
	background-image: url(/dist/images/teste6.jpeg);
	background-size: cover;


    
}

.carousel-item {
    h1{
        font-size: 2.5em;
        font-weight: 800;
        color:variaveis.$corPrincipal;
        line-height: 80%;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

    p{
        font-size: 16px;
        font-weight: 400;
        color:variaveis.$corPrincipal;
        line-height: 80%;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        text-transform: uppercase;
    }

    @media (max-width: 1080px){
        h1{
            font-size: 24px;
        }
        p{
            font-size: 14px;
        }
    }
}

